<% include('layout', { title: 'Login', user: null, body: '' }) %>
<% function renderBody(){ %>
  <h1>Login</h1>
  <% if (error) { %><div style="color:red;"><%= error %></div><% } %>
  <form method="post" action="/login">
    <div><input name="email" type="email" placeholder="Email" required></div>
    <div><input name="password" type="password" placeholder="Password" required></div>
    <button type="submit">Login</button>
  </form>
<% } %>
<%- renderBody() %>
